html, body {/*Utilized to stop a bug with older browsers, with this, text alignment will need to be set in non CSS text*/
    margin:0;
    padding:0;
    overflow-y:auto;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    -webkit-transition: 2s ease-out;
    -moz-transition: 2s ease-out;
    -o-transition: 2s ease-out;
    transition: 2s ease-out;
    -webkit-transition: border-color 2s ease-out;
    -moz-transition: border-color 2s ease-out;
    -o-transition: border-color 2s ease-out;
    transition: border-color 2s ease-out;
    font-family:'Garamond MT W00 Regular';
    
}
.FG{
    font-family:'FranklinGothicW01-Roman';
    font-weight: lighter;
}
.FGC{
    font-family:'FranklinGothicW01-Conde1119830';
    font-weight: lighter;
}
.GB{
    font-family:'Garamond MT W00 Bold';
}
.GBI{
    font-family:'Garamond MT W00 Bold Italic';
}
img {
      border: 0;
}
body,td,th {
	font-family:'Garamond MT W00 Regular';
    font-weight: 100 !important;
    font-style: normal;
}
p {
    margin-bottom: 15px;
    margin-top:0px;
    line-height: 1.3;
}
ul, li{margin:0; padding:0; list-style:none;}

.dashes {/*The dash horizontal rule that is utilized in the top of menus and in different places ont he site*/
	border-top: 1px dashed #000000;
	margin: 0px;
	margin-top: 0px;
}
.hide {
    display: none;
}
.rightLink{
    white-space: nowrap;
}
a:link {
	text-decoration: none;
    
}
a:visited {
	text-decoration: none;
    
}
.material-icons.inlineLink{
    display: inline-block;
    font-size: 18px !important;
    height:9px;
    vertical-align: middle;
    line-height: 8px;
    
}
div#wrapper{
    display: block;
    position:fixed;
    max-width: 900px;
    top: 5px;
    left:0;
    margin-left:auto;
    right:0;
    margin-right:auto;
    bottom:5px;
    border: 1px solid;
    border-radius: 20px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    overflow: hidden;
    padding: 20px
}
div#gridWrapper{
    display: grid;
    position:fixed;
    max-width: 900px;
    top: 5px;
    left:0;
    margin-left:auto;
    right:0;
    margin-right:auto;
    bottom:5px;
    border: 1px solid;
    border-radius: 20px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    overflow: hidden;
        
    grid-template-columns: [col-left] 100px [col-cont] auto [col-right] 10px [col-end];
    grid-template-rows: [row-header] 100px [row-cont] auto [row-foot] 40px [row-end];
    /* grid-column-gap: 2px;
    grid-row-gap: 2px; */
    grid-gap:20px;
    grid-auto-columns: 900px;
    grid-auto-rows: 400px;
}

div#bgWrapper{
    display: block;
    position: fixed;
    background-image: url('/images/background/bg_01.png');
    background position: fixed;
    background-repeat: repeat;
    background-size: 60px;
    width:100%;
    height:100%;
    top:0;
    left:0;
    margin-left:auto;
    right:0;
    margin-right:auto;
    bottom:0;
}

.bgImg{
    display: block;
    position: fixed;
    /*background: url(images/background/bg_01.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    top:0;
    left:0;
    margin-left:auto;
    right:0;
    margin-right:auto;
    bottom:0;
}

.optIcon{
    display: inline-grid;
    border-right:2px solid;
    padding-right: 5px;
    cursor: pointer;
    min-height: 50px;
    min-width: 48px;
    vertical-align: middle;
    position:relative;
    top: 16px;
    right: 0px;
    float: right;
}

#optMenu{
    display: none;
    position:absolute;
    max-width: 400px;
    top: 100px;
    left:0;
    margin-left:auto;
    right:0;
    margin-right:auto;
    min-height: 200px;
    background-color: #232323;
    border: 1px darkgrey;
    padding:20px;
    z-index: 50000;
    border: 1px solid;
    border-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.optFlex{
    display: flex;
    justify-content: space-between;
}
/*The following are HEADER stylings*/
.header{
    display: grid;
    
    
    margin: 0;
    margin-bottom: 0px;
    grid-column: col-cont;
    grid-row: row-header;
    
    bottom:0;
    align-content: flex-end;
    text-align: left;
    vertical-align: bottom;
}
.headerRight{
    display: block;
    position: relative;
    align-self: baseline;
    bottom: 0;
}
.headerLeft{
    display: grid;
    margin: 0;
    padding: 0;
    z-index: 50000000;
    height:100%;
    width: 100%;
    grid-column: col-left;
    grid-row: row-header;
    justify-content: flex-end;
    align-content: flex-end;
    
}
.headerLeft img{
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-height: 82px;    
    border: 1px solid;
    border-radius:50%;
    align-self: center;
}

.skills{
    column-count: 3;
}
/*The following are MENU stylings*/
.item{
    height:auto;
    
    margin-top:auto;
    
    margin-bottom:10px;
}
.leftMenu{
    display: blocks;
    position: relative;
    float: right;    
    grid-column: col-left;
    grid-row: row-cont / row-foot;
    
}
.material-icons{
    font-size: 48px !important;
}
.menu{
    display: inline-block;
    border-right:2px solid;
    padding-right: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    min-height: 50px;
    min-width: 48px;
    text-align: center;
    vertical-align: middle;
    float: right;
}

.subMenu{
    border-bottom:1px solid;
    cursor: pointer;
    margin-left: 0px;
    margin-bottom: 10px;
    right:0;
}
.main{
    position: absolute;
    height: 100%;
    width:100%;
    padding-right: 0px;
    padding-left: 0;
    margin: none;
    padding-top:0;
    grid-column: col-cont / col-right;
    grid-row: row-cont / row-foot;
}
.content{
    width: 100%;
    height: 100%;
    display: none;
    padding-right: 0px;
    padding-left: 0;
    padding-bottom: 30px;
    padding-top:0;
    
    margin: none;
    margin-top: -9px !important;
    overflow-y: auto;
}
.content::-webkit-scrollbar {
    width: 5px;
}
 
.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    
}
 
.content::-webkit-scrollbar-thumb {
  background-color:rgba(0,0,0,0.2);
}
.subContent{
    display: none;
    padding-left: 0px;
    padding-bottom: 10px;
}
.more{ /*styles the more button*/
    display: block;
    margin-top: 5px;
    cursor: pointer;
}
/*The following are text stylings*/
h1{
    overflow: hidden;
    display: block;
    padding: none;
    position: relative;
    top: 0;
    margin-top: 0px;
    margin-bottom: 5px;
}
.title{
    position: relative;
    font-size: 54px;
    font-weight: 100;
    margin-top:-20px;
    padding-bottom:0px;
    margin-bottom: -4px;
    left:-6px;
}
h3{
    font-size: 16px;
    font-weight: 100;
    margin-bottom:2px;
}
.subTitle{
    margin-top: 0;
    margin-bottom: 4px;
}
.subtext{
  font-size: 0.8em;

}
.flavorText{
  font-size: 0.8em;

}

.footer{
    display: grid;
    height: 100%;
    width:100%;
    font-size: 0.5em;
    
    align-self: flex-end;
    text-align: left;
    vertical-align: bottom;
    grid-column: col-cont / col-right;
    grid-row: footer / col-end;
}

/*The following are color choices. They are changed with palette functioning*/
.palette{
    cursor: pointer !important;
}
.PrimaryColor{
    color: #C0B283;
  
}
.SecondaryColor{
  color: #676747;
    border-color: #C0B283;
}
.DetailColor{
  color: #888;
    border-color:#666;
}
.BackgroundColor{
  background: #F1F1F1 ;
}
.BaseColor{
    color:#888;
}
.LinkColor{
    color: goldenrod;
}

.third{
    display: inline-block;
    width: 50px;
    
}
.grey{
    color:grey;
}
.orange{
    color:orange;
}
.purple{
    color:purple;
}
.blue{
    color:#659DBD;
}