html, body {/*Utilized to stop a bug with older browsers, with this, text alignment will need to be set in non CSS text*/
    margin:0;
    padding:0;
    overflow-y:auto;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    -webkit-transition: 2s ease-out;
    -moz-transition: 2s ease-out;
    -o-transition: 2s ease-out;
    transition: 2s ease-out;
    -webkit-transition: border-color 2s ease-out;
    -moz-transition: border-color 2s ease-out;
    -o-transition: border-color 2s ease-out;
    transition: border-color 2s ease-out;
    font-family: reross-rectangular, sans-serif;
    font-style: normal;
    font-weight: 400;
}
img {
      border: 0;
}
body,td,th {
	font-family:'Trade Gothic LT W01 Roman';
    font-family: sans-serif;
}
p {
    margin-bottom: 5px;
    margin-top:0px;
}
ul, li{margin:0; padding:0; list-style:none;}

.dashes {/*The dash horizontal rule that is utilized in the top of menus and in different places ont he site*/
	border-top: 1px dashed #000000;
	margin: 0px;
	margin-top: 0px;
}
.hide {
    display: none;
}

a:link {
	text-decoration: none;
    
}
a:visited {
	text-decoration: none;
    
}

div#wrapper{
    display: block;
    position:fixed;
    max-width: 900px;
    top: 5px;
    left:0;
    margin-left:auto;
    right:0;
    margin-right:auto;
    bottom:5px;
}

div#bgWrapper{
    display: block;
    position: fixed;
    background-image: url('/images/background/bg_01.jpg');
    background position: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    top:0;
    left:0;
    margin-left:auto;
    right:0;
    margin-right:auto;
    bottom:0;
}

.bgImg{
    display: block;
    position: fixed;
    /*background: url(images/background/bg_01.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    top:0;
    left:0;
    margin-left:auto;
    right:0;
    margin-right:auto;
    bottom:0;
}

#optIcon{
    display: inline-block;
    border-right:2px solid;
    padding-right: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    min-height: 50px;
    min-width: 48px;
    text-align: center;
    vertical-align: middle;
    position:absolute;
    top: 20px;
    right:20px;
    float: right;
}

#optMenu{
    display: none;
    position:absolute;
    max-width: 600px;
    top: 100px;
    left:0;
    margin-left:auto;
    right:0;
    margin-right:auto;
    min-height: 200px;
    background-color: #232323;
    border: 1px darkgrey;
    padding:20px;
    
}
/*The following are HEADER stylings*/
.header{
    display:  block;
    width:100%;
    height: 100px;
    margin-bottom: 45px;
}
.headerLeft{
    display: inline-block;
    float: left;
    height: 100px;
    width:100px;
}
.headerLeft img{
    max-height: 100px;
}
.headerRight{
    display: inline-block;
    float:left;
    height:100px;
    margin-left: 20px;
    width: calc( 100% - 120px );
}

/*The following are MENU stylings*/
.item{
    height:auto;
    margin-left:120px;
    margin-top:auto;
    margin-right: 20px;
    margin-bottom:10px;
}
.leftMenu{
    display: block;
    position: relative;
    float: left;
    left: 25px;
    max-width: 50px;
    
}
.material-icons{
    font-size: 48px !important;
}
.menu{
    display: inline-block;
    border-right:2px solid;
    padding-right: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    min-height: 50px;
    min-width: 48px;
    text-align: center;
    vertical-align: middle;
}
.subMenu{
    border-bottom:1px solid;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}
.content{
    display: none;
    padding-right: 0px;
    padding-bottom: 30px;
}
.subContent{
    display: none;
    padding-left: 20px;
    padding-bottom: 30px;
}
.more{ /*styles the more button*/
    display: block;
    margin-top: 5px;
    cursor: pointer;
}
/*The following are text stylings*/
h1{
    margin: 0px;
}
.title{
    font-size: 3.4em;
    font-weight: 700;
}
.subTitle{
    margin-top: 0;
    margin-bottom: 20px;
}
.subtext{
  font-size: 0.8em;

}
.flavorText{
  font-size: 0.8em;

}

.footer{
    position: absolute;
    bottom: 0px;
    width:100%;
    font-size: 0.8em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/*The following are color choices. They are changed with palette functioning*/
.palette{
    cursor: pointer;
}
.PrimaryColor{
    color: #C0B283;
  
}
.SecondaryColor{
  color: #676747;
    border-color: #C0B283;
}
.DetailColor{
  color: #888;
    border-color:#666;
}
.BackgroundColor{
  background-color: #F2F2F2 !important;
}
.BaseColor{
    color:#888;
}
.LinkColor{
    color: goldenrod;
}

.third{
    display: inline-block;
    width: 50px;
    
}
.grey{
    color:grey;
}
.orange{
    color:orange;
}
.purple{
    color:purple;
}